{{>header}}
<br/>
<br/>
<br/>
<h2>Use this form to search for weather</h2>
<form id="formWeather" name="formWeather">
    <input placeholder="Type in an address" id="inputLocation" name="inputLocation" width="200px">
    <button id="btnGetWeather" name="btnGetWeather">Get Weather</button>
</form>

<p id="message-1"></p>
<p id="message-2"></p>
<p id="message-3"></p>
<p id="message-4"></p>

<script src="/js/clientApp.js"></script>
{{>footer}}